.signup {
    background: #edf1f7;
    background: url("../images/signup.jpg") no-repeat;
    background-size: cover;


    .detail {
        font-size: 15px;

        color: var(--dark);
        margin-top: 15px;
    }

    .booking-forms .nav.nav-tabs {
        background-color: transparent;
        border-bottom: none;
        border-radius: 0;
        margin-right: 0;
        padding: 0;



        .nav-item {
            border-radius: 50px;
            font-weight: 700;
            padding: 13px 20px;
            margin: 0 15px;
            text-align: center;
            text-transform: uppercase;
            background: none;
            border: none;

            &.active {
                background-color: #F44336;
                color: #fff;
            }
        }

        .premium.active {
            background: #ef8220;
        }
    }

    .info-text {
        padding: 0 !important;
    }

    .custom-control-label {
        line-height: 23px;
    }

    .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #2196F3;
        ;
    }

    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #2196F3;

    }

    .membercard {

        background: url("../images/cards/card.jpg") no-repeat !important;
        background-size: cover;
        z-index: 2;
        width: 510px;
        height: 180px;

        &::after {
            content: '';
            // background: #000;
            z-index: -1;
            opacity: 1;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            // background: #f5e5d8;
        }



    }

    .card {
        background-color: #fff;
        border: 0 solid transparent;
        border-radius: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, .1);
        color: #192038;
        font-family: Open Sans,
            sans-serif;
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: 0.9rem;

        & .card-header {
            padding: 0.5rem 1.25rem;
            border-bottom: 1px solid #edf1f7;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #192038;
            font-family: Open Sans,
                sans-serif;
            font-size: .9375rem;
            font-weight: 600;
            line-height: 1.5rem;
            background: #fff;
        }

        & .card-footer {
            background-color: #fff !important;
        }
    }

    .form-group label {
        color: #605757;
        font-size: .75rem;
        font-weight: 700;
        line-height: 1rem;
    }
}



.profile {

    .profileimg {
        padding: 15px;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            cursor: pointer;
            width: 150px;
            height: 150px;
            overflow: hidden;
            display: flex;
            padding: 4px;
            background: #ffffff;
            box-shadow: 0px 20px 20px -16px #525252;
            border-radius: 50%;
        }

        h2 {
            font-size: 19px;
            margin-top: 18px;
        }
    }

    .changeprofile {
        padding: 15px;

        display: flex;
        // justify-content: center;
        align-items: center;
        // flex-direction: column;

        img {
            cursor: pointer;
            width: 150px;
            height: 150px;
            overflow: hidden;
            display: flex;
            padding: 4px;
            background: #ffffff;
            box-shadow: 0px 20px 20px -16px #525252;
            border-radius: 50%;
        }

        h2 {
            font-size: 19px;
            margin-top: 18px;
        }

        .edit {
            position: relative;
            cursor: pointer;
            color: rgba(0, 0, 0, 0.5);
            margin-top: 5px;

            input {
                display: none;
            }
        }
    }

    .nav {
        .nav-item {
            .nav-link {
                &.active {
                    color: #ffffff;
                    font-weight: bold;
                    background: #ef8220;
                    border-radius: 50px;
                }
            }
        }
    }

    .card {
        background-color: #fff;
        border: 0 solid transparent;
        border-radius: .25rem;
        -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
        box-shadow: 0 0rem 1rem 0 rgba(44, 51, 73, 0.1);
        color: #192038;
        font-family: Open Sans,
            sans-serif;
        font-size: .9375rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: 0.9rem;


        .card-header {
            padding: 0.5rem 1.25rem;
            border-bottom: 1px solid #edf1f7;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
            color: #ef8220;

            font-size: .9375rem;
            font-weight: 600;
            line-height: 1.5rem;
            background: #fff;

        }

        .card-body {

            .flip-card {
                perspective: 1000px;

                // &:hover .flip-card-inner {
                //     transform: rotateY(180deg);
                // }

                .flip-card-inner {
                    position: relative;

                    transition: transform 0.8s;
                    transform-style: preserve-3d;

                    .package-front {
                        text-align: left;
                        padding: 15px;
                        margin-bottom: 10px;
                        color: #fff;
                        border-radius: 10px;
                        box-sizing: border-box;
                        background: #000000;
                        background-size: cover;

                        h5 {
                            font-size: 15px;
                            color: #fff;
                        }

                        .name {
                            margin: 10px 0;
                            font-size: 17px;
                            color: #fff;

                            span {
                                display: block;
                                font-size: 14px;
                            }
                        }

                        .contact {
                            li {
                                font-size: 11px;
                            }
                        }

                        .barcode {
                            background: #fff;
                            padding: 10px;

                            p {
                                font-family: 'Libre Barcode 39';
                                font-size: 2rem;
                                height: 8px;
                                color: #000;
                            }
                        }




                    }

                    .package-back {
                        text-align: left;
                        padding: 15px;
                        margin-bottom: 10px;
                        color: #fff;
                        border-radius: 10px;
                        box-sizing: border-box;
                        background: #000000;
                        background-size: cover;

                        h5 {
                            font-size: 15px;
                            color: #fff;
                        }

                        .name {
                            margin: 10px 0;
                            font-size: 17px;
                            color: #fff;

                            span {
                                display: block;
                                font-size: 14px;
                            }
                        }

                        .contact {
                            li {
                                font-size: 11px;
                            }
                        }

                        .barcode {


                            p {
                                font-family: 'Libre Barcode 39';
                                font-size: 2rem;
                                height: 25px;
                                background: #fff;
                                padding: 8px;
                                color: #000;
                            }
                        }




                    }

                    // .package-front,
                    // .package-back {
                    //     // position: absolute;
                    //     // -webkit-backface-visibility: hidden;
                    //     // backface-visibility: hidden;
                    // }

                    .package-back {
                        transform: rotateY(180deg);
                    }
                }
            }


        }

        & .card-footer {
            background-color: #fff !important;
        }
    }

    .profiletab {
        border: none;

        .nav-item {
            margin-bottom: 0;
            margin: 5px 10px;
            border-radius: 50px;

            .nav-link {
                border: none;
                border-radius: 0;
                background: none;
                font-weight: bold;

                &:hover {
                    border: none;

                }

                &.active {
                    font-weight: bold;
                }
            }
        }
    }
}

.tour {
    text-align: left;
    padding: 15px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-sizing: border-box;
    background: url("../images/tour.jpg") no-repeat 0 0 #141819;
    background-size: cover;

    p {
        margin: 0;
        padding: 0px 40px 0px;
        color: #fff;
    }

    &__number {
        font-size: 1.6rem;
        padding: 10px 0 10px;
        text-align: center;
    }

    &__owner {
        font-size: 12px;
        color: #bcb8b8;
    }

    &__date {
        font-size: 12px;
        color: #bcb8b8;
    }

    .btn {
        border-radius: 50px;
        font-size: 12px;
        padding: .1rem .75rem;
    }

}

.card-header {
    background: #fff;
}

input.form-control {
    background: #f7f9fc;
    border: 1px solid #edf1f7;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #192038;
    letter-spacing: 0.6px;

    padding: .4375rem 1.125rem;
    border-radius: .25rem;
}

select.form-control {
    background: #f7f9fc;
    border: 1px solid #edf1f7;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #192038;
    letter-spacing: 0.6px;
    padding: .4375rem 1.125rem;
    border-radius: .25rem;
}

textarea.form-control {
    background: #f7f9fc;
    border: 1px solid #edf1f7;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #192038;
    letter-spacing: 0.6px;

    padding: .4375rem 1.125rem;
    border-radius: .25rem;
}

.success {
    color: #28a745;
    font-weight: bold;
}

.reject {
    color: red;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.upload {
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);

    margin: 10px 0;

    span {
        padding: 10px;
        background: #9b9895;
        color: #fff;
        border-radius: 5px;
    }

    input {
        display: none;
    }
}

.btn-shukul {
    background: #f44336;
    color: #fff !important;
}

.btn-yatra {
    background: #ef8220;
    color: #fff !important;
}

.btn-small {
    color: #ffffff;
    padding: 0.1rem .5rem;
    font-size: 12px;
    border-radius: 50px;
}


table {
    thead {
        tr {
            th {
                font-size: 13px;
                white-space: pre;
                color: #1e252b;
                padding: 0.65rem !important;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: 13px;
            }
        }
    }

}

#half-stars-review {

    /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
    .rating-group {
        display: inline-flex;
    }

    /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }

    /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
        padding: 0 0.1em;
        font-size: 2rem;
    }

    /* add padding and positioning to half star labels */
    .rating__label--half {
        padding-right: 0;
        margin-right: -0.6em;
        z-index: 2;
    }

    /* set default star color */
    .rating__icon--star {
        color: orange;
    }

    /* set color of none icon when unchecked */
    .rating__icon--none {
        color: #eee;
    }

    /* if none icon is checked, make it red */
    .rating__input--none:checked+.rating__label .rating__icon--none {
        color: red;
    }

    /* if any input is checked, make its following siblings grey */
    .rating__input:checked~.rating__label .rating__icon--star {
        color: #ddd;
    }

    /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star,
    .rating-group:hover .rating__label--half .rating__icon--star {
        color: orange;
    }

    /* make hovered input's following siblings grey on hover */
    .rating__input:hover~.rating__label .rating__icon--star,
    .rating__input:hover~.rating__label--half .rating__icon--star {
        color: #ddd;
    }

    /* make none icon grey on rating group hover */
    .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
        color: #eee;
    }

    /* make none icon red on hover */
    .rating__input--none:hover+.rating__label .rating__icon--none {
        color: red;
    }
}

.hide {
    right: 0;
}


.quick-inquiry {
    position: fixed;
    right: -28.3rem;
    top: 20rem;
    height: auto;
    z-index: 999999999;


    &.active {
        right: 0;
    }

    .box {
        width: 450px;
        background: #fff;
        position: relative;
        box-shadow: 0 0 11px -6px #091426;
        border-radius: 10px 0 0 10px;

        .box-button {
            position: absolute;
            left: -6.5rem;
            top: 3.5rem;
            transform: rotate(-90deg);
            width: 160px;

            span {
                animation: typing 4s steps(12) infinite;
                display: inline-block;
                overflow: hidden;
                white-space: nowrap;

            }

            &:hover span {
                animation: blink 0.3s infinite;

            }
        }
    }
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    55%,
    65%,
    75% {
        opacity: 1;
    }

    60%,
    70% {
        opacity: 0;
    }

    80% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {

    25%,
    75% {
        color: transparent;
    }

    40%,
    60% {
        color: #fff;
    }
}

.shukul_values {

    .box {
        margin: 10px 0;
        box-shadow: 0px 0 10px -3px #c6bcbc;
        border-radius: 10px;
        padding: 18px;

        img {
            width: 50px;
            margin-bottom: 20px;
        }

        h5 {
            color: #3e4653;
            text-transform: none;
            margin-bottom: 20px;
        }

        p {
            color: #919293;
            margin-bottom: 10px;
        }
    }

}


.services {

    border-radius: 0px !important;
    padding-top: 0px !important;

}

/*--------------------------------------------------------------
Team Css Style
----------------------------------------------------------------*/
.team-section {

    .team-col {
        margin-bottom: 30px;
        box-shadow: 0 11px 11px -14px rgba(21, 19, 19, 0.25);
        border-radius: 50px;
        padding-top: 30px;
        background: #fff;

        .thumb {
            position: relative;
            text-align: center;

            img {
                width: auto;
            }
        }

        .content {
            padding: 18px 0 24px;

            h4 {
                display: inline-block;
                margin-bottom: 14px;
                padding-bottom: 16px;
                position: relative;

                a {
                    color: #333;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 0.6px;
                    text-transform: uppercase;
                }

                &::before {
                    background-color: #ddd;
                    bottom: 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    width: 62px;
                }

                &::after {
                    background-color: #dd2025;
                    bottom: 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    margin: 0 auto;
                    position: absolute;
                    right: 0;
                    width: 36px;
                }
            }

            h5 {
                color: #4f535a;
                font-size: 15px;
                font-weight: 600;
                text-transform: uppercase;
            }

            P {
                text-align: justify;
                margin: 10px;
                padding: 10px;
            }
        }
    }
}


.advisor {
    hr {
        margin: 0;
    }

    h2 {
        background: #091426;
        color: #fff;
        width: 200px;
        font-size: 26px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
        border-radius: 0 0 20px 20px;
        padding: 5px;
    }

    table {
        border-radius: 15px 15px 0 0;
        overflow: hidden;

        thead {
            th {
                padding: 1em !important;
                background: #36304a;
                border-bottom: 2px solid white;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
            }
        }

        tbody {
            tr {
                td {
                    padding: 1em !important;
                    border: none;
                    font-family: sans-serif;
                    font-size: 15px;
                }

                &:nth-last-child(1) {
                    border-bottom: 1px solid #dddcdc;
                }

            }

        }

    }
}

.c-direction {
    flex-direction: column;
}


.doc {
    .thumb {
        position: relative;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px 0px 17px 0px lightgrey;
        padding: 18px !important;
        margin: 10px;

        &:hover {
            .overlay {
                width: 100%;

                .inner {
                    opacity: 1;
                }
            }
        }

        img {
            width: 160px;
            height: 200px;
            margin: 10px 0;
        }

        .overlay {
            background-color: #2125298c;
            bottom: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 0%;
            -webkit-transition: all 0.15s ease-in-out;
            -moz-transition: all 0.15s ease-in-out;
            -o-transition: all 0.15s ease-in-out;
            -ms-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;

            .inner {
                left: 50%;
                position: absolute;
                top: 50%;
                opacity: 0;
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.15s ease-in-out;
                -moz-transition: all 0.15s ease-in-out;
                -o-transition: all 0.15s ease-in-out;
                -ms-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;
            }

            .icon {
                background-color: #255669;
                border-radius: 50%;
                display: inline-block;
                height: 40px;
                line-height: 42px;
                margin-bottom: 15px;
                text-align: center;
                width: 40px;

                &:hover {
                    background-color: #ef8220;
                }

                i {
                    color: #fff;
                    font-size: 20px;
                }
            }

            h4 {
                color: #ffcd22;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            a {
                color: #eee;
                font-weight: 600;
                letter-spacing: 0.6px;
                text-transform: uppercase;
            }
        }



    }
}

.doc .thumb .overlay p {
    color: #eee;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.doc .thumb .overlay a {
    color: #eee;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.bankinfo {

    .list {
        font-size: 15px;
        padding: 25px 0px;
    }
}

.values {

    .shape-2 {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .shadow-theme {
        box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, .15) !important;
        width: 70px;
        border-radius: 10px;
    }
}

.shadow2 {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

/* Hide default HTML checkbox */

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input {
        &:checked+.slider {
            background-color: rgb(128, 243, 33);
        }

        &:focus+.slider {
            box-shadow: 0 0 1px rgb(128, 243, 33);
        }

        &:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;

        &:before {
            border-radius: 50%;
        }
    }
}





@media only screen and (max-width: 435px) {
    .signup {
        padding-top: 90px !important;
    }
}

@media only screen and (max-width: 768px) {
    .quick-inquiry {
        right: -22rem;
        top: 10rem;

        .box {
            width: 350px !important;

            .box-button {
                transform: rotate(-0);
                bottom: 0;
                position: fixed;
                left: 0;
                top: auto;
            }

        }
    }

    .latest-hotel {
        flex-direction: column;
    }

    .values {
        .title {
            color: #192038 !important;
        }

        .lead {
            color: #192038 !important;
        }
    }

}