.signup,
.gallery {
  background: #edf1f7;
  background: url("../images/signup.jpg") no-repeat;
  background-size: cover; }
  .signup .detail,
  .gallery .detail {
    font-size: 15px;
    color: var(--dark);
    margin-top: 15px; }
  .signup .booking-forms .nav.nav-tabs,
  .gallery .booking-forms .nav.nav-tabs {
    background-color: transparent;
    border-bottom: none;
    border-radius: 0;
    margin-right: 0;
    padding: 0; }
    .signup .booking-forms .nav.nav-tabs .nav-item,
    .gallery .booking-forms .nav.nav-tabs .nav-item {
      border-radius: 50px;
      font-weight: 700;
      padding: 13px 20px;
      margin: 0 15px;
      text-align: center;
      text-transform: uppercase;
      background: none;
      border: none; }
      .signup .booking-forms .nav.nav-tabs .nav-item.active,
      .gallery .booking-forms .nav.nav-tabs .nav-item.active {
        background-color: #F44336;
        color: #fff; }
    .signup .booking-forms .nav.nav-tabs .premium.active,
    .gallery .booking-forms .nav.nav-tabs .premium.active {
      background: #ef8220; }
  .signup .info-text,
  .gallery .info-text {
    padding: 0 !important; }
  .signup .custom-control-label,
  .gallery .custom-control-label {
    line-height: 23px; }
  .signup .custom-radio .custom-control-input:checked ~ .custom-control-label::before,
  .gallery .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dd2025; }
  .signup .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
  .gallery .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #dd2025; }
  .signup .membercard,
  .gallery .membercard {
    background: url("../images/cards/card.png") no-repeat !important;
    background-size: cover;
    z-index: 2; }
    .signup .membercard::after,
    .gallery .membercard::after {
      content: '';
      z-index: -1;
      opacity: 1;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      position: absolute; }
  .signup .card,
  .gallery .card {
    background-color: #fff;
    border: 0 solid transparent;
    border-radius: .25rem;
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    color: #192038;
    font-family: Open Sans, sans-serif;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 0.9rem; }
    .signup .card .card-header,
    .gallery .card .card-header {
      padding: 0.5rem 1.25rem;
      border-bottom: 1px solid #edf1f7;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: #192038;
      font-family: Open Sans, sans-serif;
      font-size: .9375rem;
      font-weight: 600;
      line-height: 1.5rem;
      background: #fff; }
    .signup .card .card-footer,
    .gallery .card .card-footer {
      background-color: #fff !important; }
  .signup .form-group label,
  .gallery .form-group label {
    color: #605757;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1rem; }

.flip-card {
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  .flip-card .flip-card-inner {
    position: relative;
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    -o-transition: transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /*
        .package-back {
            text-align: left;
            padding: 15px;
            margin-bottom: 10px;
            color: #fff;
            border-radius: 10px;
            box-sizing: border-box;
            background: #000000;
            background-size: cover;

            h5 {
                font-size: 15px;
                color: #fff;
            }

            .name {
                margin: 10px 0;
                font-size: 17px;
                color: #fff;

                span {
                    display: block;
                    font-size: 14px;
                }
            }

            .contact {
                li {
                    font-size: 11px;
                }
            }

            .barcode {


                p {
                    font-family: 'Libre Barcode 39';
                    font-size: 2rem;
                    height: 25px;
                    background: #fff;
                    padding: 8px;
                    color: #000;
                }
            }




        }
        .package-front,
        .package-back {
            // position: absolute;
            // -webkit-backface-visibility: hidden;
            // backface-visibility: hidden;
        }
        .package-back {
            transform: rotateY(180deg);
        }*/ }
    .flip-card .flip-card-inner .package-front {
      text-align: left;
      padding: 15px;
      color: #fff;
      border-radius: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: url("../images/member.png") no-repeat;
      background-size: cover;
      width: 89mm;
      height: 57mm; }
      .flip-card .flip-card-inner .package-front .logo {
        width: 125px; }
      .flip-card .flip-card-inner .package-front h5 {
        font-size: 15px;
        color: #fff; }
      .flip-card .flip-card-inner .package-front .btn-sm {
        font-size: .6rem;
        line-height: 1; }
      .flip-card .flip-card-inner .package-front small {
        font-size: 11px; }
      .flip-card .flip-card-inner .package-front .name {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 17px;
        color: #f48837; }
        .flip-card .flip-card-inner .package-front .name span {
          display: block;
          font-size: 14px; }
      .flip-card .flip-card-inner .package-front .footer {
        margin-top: 17px; }
        .flip-card .flip-card-inner .package-front .footer .contact li {
          font-size: 11px; }
          .flip-card .flip-card-inner .package-front .footer .contact li img {
            width: 15px;
            margin-right: 4px; }
        .flip-card .flip-card-inner .package-front .footer .barcode ul li {
          font-size: 12px;
          line-height: 1; }
          .flip-card .flip-card-inner .package-front .footer .barcode ul li small {
            font-size: 10px;
            font-weight: bold; }
        .flip-card .flip-card-inner .package-front .footer .barcode img {
          width: 115px; }

.profile .changeprofile {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .profile .changeprofile img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px;
    background: #ffffff;
    -webkit-box-shadow: 0px 20px 20px -16px #525252;
    box-shadow: 0px 20px 20px -16px #525252;
    border-radius: 50%; }
  .profile .changeprofile h2 {
    font-size: 19px;
    margin-top: 18px; }
  .profile .changeprofile .edit {
    position: relative;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px; }
    .profile .changeprofile .edit input {
      display: none; }

.profile .nav .nav-item .nav-link.active {
  color: #ffffff;
  font-weight: bold;
  background: #ef8220;
  border-radius: 50px; }

.profile .card {
  background-color: #fff;
  border: 0 solid transparent;
  border-radius: .25rem;
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
  box-shadow: 0 0rem 1rem 0 rgba(44, 51, 73, 0.1);
  color: #192038;
  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 0.9rem; }
  .profile .card .card-header {
    padding: 0.5rem 1.25rem;
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #ef8220;
    font-size: .9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    background: #fff; }
  .profile .card .card-footer {
    background-color: #fff !important; }

.profile .profiletab {
  border: none; }
  .profile .profiletab .nav-item {
    margin-bottom: 0;
    margin: 5px 10px;
    border-radius: 50px; }
    .profile .profiletab .nav-item .nav-link {
      border: none;
      border-radius: 0;
      background: none;
      font-weight: bold; }
      .profile .profiletab .nav-item .nav-link:hover {
        border: none; }
      .profile .profiletab .nav-item .nav-link.active {
        font-weight: bold; }

.tour {
  text-align: left;
  padding: 15px;
  margin-bottom: 10px;
  color: black;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/tour.jpg") no-repeat 0 0 #141819;
  background-size: cover; }
  .tour p {
    margin: 0;
    padding: 0px 40px 0px;
    color: #fff; }
  .tour__number {
    font-size: 1.6rem;
    padding: 10px 0 10px;
    text-align: center; }
  .tour__owner {
    font-size: 12px;
    color: #bcb8b8; }
  .tour__date {
    font-size: 12px;
    color: #bcb8b8; }
  .tour .btn {
    border-radius: 50px;
    font-size: 12px;
    padding: .1rem .75rem; }

.card-header {
  background: #fff; }

input.form-control {
  background: #f7f9fc;
  border: 1px solid #edf1f7;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #192038;
  letter-spacing: 0.6px;
  padding: .4375rem 1.125rem;
  border-radius: .25rem; }

select.form-control {
  background: #f7f9fc;
  border: 1px solid #edf1f7;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #192038;
  letter-spacing: 0.6px;
  padding: .4375rem 1.125rem;
  border-radius: .25rem; }

textarea.form-control {
  background: #f7f9fc;
  border: 1px solid #edf1f7;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #192038;
  letter-spacing: 0.6px;
  padding: .4375rem 1.125rem;
  border-radius: .25rem; }

.success {
  color: #28a745;
  font-weight: bold; }

.reject {
  color: red !important;
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.upload {
  position: relative;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  margin: 10px 0; }
  .upload span {
    padding: 10px;
    background: #9b9895;
    color: #fff;
    border-radius: 5px; }
  .upload input {
    display: none; }

.btn-shukul {
  background: #f44336;
  color: #fff !important; }

.btn-yatra {
  background: #ef8220;
  color: #fff !important; }

.btn-small {
  color: #ffffff;
  padding: 0.1rem .5rem;
  font-size: 12px;
  border-radius: 50px; }

table thead tr th {
  font-size: 13px;
  white-space: pre;
  color: #1e252b;
  padding: 0.65rem !important; }

table tbody tr td {
  font-size: 13px; }

#half-stars-review {
  /* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
  /* make hover effect work properly in IE */
  /* hide radio inputs */
  /* set icon padding and size */
  /* add padding and positioning to half star labels */
  /* set default star color */
  /* set color of none icon when unchecked */
  /* if none icon is checked, make it red */
  /* if any input is checked, make its following siblings grey */
  /* make all stars orange on rating group hover */
  /* make hovered input's following siblings grey on hover */
  /* make none icon grey on rating group hover */
  /* make none icon red on hover */ }
  #half-stars-review .rating-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  #half-stars-review .rating__icon {
    pointer-events: none; }
  #half-stars-review .rating__input {
    position: absolute !important;
    left: -9999px !important; }
  #half-stars-review .rating__label {
    cursor: pointer;
    /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
    padding: 0 0.1em;
    font-size: 2rem; }
  #half-stars-review .rating__label--half {
    padding-right: 0;
    margin-right: -0.6em;
    z-index: 2; }
  #half-stars-review .rating__icon--star {
    color: orange; }
  #half-stars-review .rating__icon--none {
    color: #eee; }
  #half-stars-review .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red; }
  #half-stars-review .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd; }
  #half-stars-review .rating-group:hover .rating__label .rating__icon--star,
  #half-stars-review .rating-group:hover .rating__label--half .rating__icon--star {
    color: orange; }
  #half-stars-review .rating__input:hover ~ .rating__label .rating__icon--star,
  #half-stars-review .rating__input:hover ~ .rating__label--half .rating__icon--star {
    color: #ddd; }
  #half-stars-review .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee; }
  #half-stars-review .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red; }

.hide {
  right: 0; }

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.quick-inquiry {
  position: fixed;
  right: -28.3rem;
  top: 19rem;
  height: auto;
  z-index: 999999999; }
  .quick-inquiry.active {
    right: 0; }
  .quick-inquiry .box {
    width: 450px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 0 11px -6px #091426;
    box-shadow: 0 0 11px -6px #091426;
    border-radius: 10px 0 0 10px; }
    .quick-inquiry .box .box-button {
      position: absolute;
      left: -5.2rem;
      top: 2.4rem;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 120px; }
      .quick-inquiry .box .box-button span {
        -webkit-animation: typing 4s steps(12) infinite;
        animation: typing 4s steps(12) infinite;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap; }
      .quick-inquiry .box .box-button:hover span {
        -webkit-animation: blink 0.3s infinite;
        animation: blink 0.3s infinite; }

@-webkit-keyframes typing {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  55%,
  65%,
  75% {
    opacity: 1; }
  60%,
  70% {
    opacity: 0; }
  80% {
    width: 100%; }
  100% {
    width: 0; } }

@keyframes typing {
  0% {
    width: 0; }
  50% {
    width: 100%; }
  55%,
  65%,
  75% {
    opacity: 1; }
  60%,
  70% {
    opacity: 0; }
  80% {
    width: 100%; }
  100% {
    width: 0; } }

@-webkit-keyframes blink {
  25%,
  75% {
    color: transparent; }
  40%,
  60% {
    color: #fff; } }

@keyframes blink {
  25%,
  75% {
    color: transparent; }
  40%,
  60% {
    color: #fff; } }

.shukul_values .box {
  margin: 10px 0;
  -webkit-box-shadow: 0px 0 10px -3px #c6bcbc;
  box-shadow: 0px 0 10px -3px #c6bcbc;
  border-radius: 10px;
  padding: 18px; }
  .shukul_values .box img {
    width: 50px;
    margin-bottom: 20px; }
  .shukul_values .box h5 {
    color: #3e4653;
    text-transform: none;
    margin-bottom: 20px; }
  .shukul_values .box p {
    color: #919293;
    margin-bottom: 10px; }

.services {
  border-radius: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 0 !important; }
  .services .thumb {
    overflow: hidden; }
    .services .thumb img {
      -webkit-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease; }
    .services .thumb:hover img {
      -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
      transform: scale(1.08); }

/*--------------------------------------------------------------
Team Css Style
----------------------------------------------------------------*/
.team-section .team-col {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 11px 11px -14px rgba(21, 19, 19, 0.25);
  box-shadow: 0 11px 11px -14px rgba(21, 19, 19, 0.25);
  border-radius: 50px;
  padding-top: 30px;
  background: #fff; }
  .team-section .team-col .thumb {
    position: relative;
    text-align: center; }
    .team-section .team-col .thumb img {
      width: auto; }
  .team-section .team-col .content {
    padding: 18px 0 24px; }
    .team-section .team-col .content h4 {
      display: inline-block;
      margin-bottom: 14px;
      padding-bottom: 16px;
      position: relative; }
      .team-section .team-col .content h4 a {
        color: #333;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-transform: uppercase; }
      .team-section .team-col .content h4::before {
        background-color: #ddd;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 62px; }
      .team-section .team-col .content h4::after {
        background-color: #dd2025;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 36px; }
    .team-section .team-col .content h5 {
      color: #4f535a;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase; }
    .team-section .team-col .content P {
      text-align: justify;
      margin: 10px;
      padding: 10px; }

.tours table {
  border-radius: 10px 10px;
  overflow: hidden; }
  .tours table thead th {
    padding: 0.7em !important;
    border-bottom: 2px solid white;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    white-space: pre; }
  .tours table tbody tr td {
    padding: 0.5em !important;
    font-family: sans-serif;
    font-size: 15px;
    white-space: pre; }
  .tours table tbody tr:nth-last-child(1) {
    border-bottom: 1px solid #dddcdc; }

.advisor hr {
  margin: 0; }

.advisor h2 {
  background: #091426;
  color: #fff;
  width: 200px;
  font-size: 26px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  border-radius: 0 0 20px 20px;
  padding: 5px; }

.advisor table {
  border-radius: 15px 15px 0 0;
  overflow: hidden; }
  .advisor table thead th {
    padding: 1em !important;
    background: #36304a;
    border-bottom: 2px solid white;
    color: #fff;
    font-size: 15px;
    font-weight: 600; }
  .advisor table tbody tr td {
    padding: 1em !important;
    border: none;
    font-family: sans-serif;
    font-size: 15px; }
  .advisor table tbody tr:nth-last-child(1) {
    border-bottom: 1px solid #dddcdc; }

.c-direction {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.doc .thumb {
  position: relative;
  overflow: hidden;
  text-align: center;
  -webkit-box-shadow: 0px 0px 17px 0px lightgrey;
  box-shadow: 0px 0px 17px 0px lightgrey;
  padding: 18px !important;
  margin: 10px; }
  .doc .thumb:hover .overlay {
    width: 100%; }
    .doc .thumb:hover .overlay .inner {
      opacity: 1; }
  .doc .thumb img {
    width: 160px;
    height: 200px;
    margin: 10px 0; }
  .doc .thumb .overlay {
    background-color: #2125298c;
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 0%;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
    .doc .thumb .overlay .inner {
      left: 50%;
      position: absolute;
      top: 50%;
      opacity: 0;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      -ms-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out; }
    .doc .thumb .overlay .icon {
      background-color: #255669;
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      line-height: 42px;
      margin-bottom: 15px;
      text-align: center;
      width: 40px; }
      .doc .thumb .overlay .icon:hover {
        background-color: #ef8220; }
      .doc .thumb .overlay .icon i {
        color: #fff;
        font-size: 20px; }
    .doc .thumb .overlay h4 {
      color: #ffcd22;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 5px;
      text-transform: uppercase; }
    .doc .thumb .overlay a {
      color: #eee;
      font-weight: 600;
      letter-spacing: 0.6px;
      text-transform: uppercase; }

.doc .thumb .overlay p {
  color: #eee;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase; }

.doc .thumb .overlay a {
  color: #eee;
  font-weight: 600;
  letter-spacing: 0.6px;
  text-transform: uppercase; }

.bankinfo .list {
  font-size: 15px;
  padding: 25px 0px; }

.values .shape-2 {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.values .shadow-theme {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, 0.15) !important;
  width: 70px;
  border-radius: 10px; }

.shadow2 {
  -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

/* Hide default HTML checkbox */
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  /* Rounded sliders */ }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .slider input:checked + .slider {
    background-color: #80f321; }
  .slider input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #80f321;
    box-shadow: 0 0 1px #80f321; }
  .slider input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .slider .slider.round {
    border-radius: 34px; }
    .slider .slider.round:before {
      border-radius: 50%; }

@media only screen and (max-width: 435px) {
  .signup {
    padding-top: 90px !important; } }

@media screen and (max-width: 992px) {
  .values .title {
    color: #192038 !important; }
  .values .lead {
    color: #192038 !important; } }

@media only screen and (max-width: 768px) {
  .munna {
    display: block !important; }
    .munna .thumb {
      width: 100% !important; }
    .munna .content {
      width: 100% !important;
      margin: 10px !important;
      padding: 10px !important;
      text-align: center !important; }
  .quick-inquiry {
    right: -22rem;
    top: 10rem; }
    .quick-inquiry .box {
      width: 350px !important; }
      .quick-inquiry .box .box-button {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        bottom: 0;
        position: fixed;
        left: 0;
        top: auto; }
  .latest-hotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .whychoose .detail .content h3 {
    text-align: center; }
  .whychoose .detail .content p {
    font-size: 12px; }
  .owl-why .owl-nav {
    top: 26rem !important; } }

.marquee {
  overflow: hidden; }
  .marquee span {
    display: inline-block; }
    .marquee span img {
      padding: 0 30px; }

.mfp-3d-unfold {
  /* start state */
  /* animate in */
  /* animate out */ }
  .mfp-3d-unfold .mfp-content {
    -webkit-perspective: 2000px;
    perspective: 2000px; }
  .mfp-3d-unfold .mfp-with-anim {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(-60deg);
    transform: rotateY(-60deg); }
  .mfp-3d-unfold.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .mfp-3d-unfold.mfp-ready .mfp-with-anim {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .mfp-3d-unfold.mfp-ready.mfp-bg {
    opacity: 0.8; }
  .mfp-3d-unfold.mfp-removing .mfp-with-anim {
    -webkit-transform: rotateY(60deg);
    transform: rotateY(60deg);
    opacity: 0; }
  .mfp-3d-unfold.mfp-removing.mfp-bg {
    opacity: 0; }

.company-group .row .col-lg-4 {
  text-align: center; }
  .company-group .row .col-lg-4 img {
    width: auto; }

.whychoose {
  background: url("../images/why.jpg") no-repeat;
  background-size: cover; }
  .whychoose .section-title {
    margin-bottom: 40px; }
    .whychoose .section-title h2 {
      margin-bottom: 0; }
    .whychoose .section-title p {
      color: #f7f7f7; }
  .whychoose .detail .content h3 {
    color: #fff; }
  .whychoose .detail .content p {
    font-size: 15px;
    color: #fff; }

.owl-why .owl-nav {
  left: 0;
  position: absolute;
  top: 15rem;
  display: block;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .owl-why .owl-nav .owl-prev {
    left: auto;
    right: 43px; }
  .owl-why .owl-nav .owl-next {
    left: auto;
    right: -7px; }
  .owl-why .owl-nav .owl-prev,
  .owl-why .owl-nav .owl-next {
    border-radius: 0;
    color: #000;
    margin: 0 5px 0 0;
    height: 40px;
    line-height: 34px;
    width: 48px; }
    .owl-why .owl-nav .owl-prev:hover,
    .owl-why .owl-nav .owl-next:hover {
      background-color: #255669; }

.border-dark {
  border: 2px solid #255669 !important; }
  .border-dark .card-header {
    background: #ffcd22 !important; }

.premium-login {
  font-size: 11px; }
  .premium-login .btn-sm {
    padding: .15rem .3rem;
    font-size: .650rem; }

.error {
  color: #f44336 !important; }

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  background: url("../images/1.png") no-repeat;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 0rem 1rem 0 rgba(44, 51, 73, 0.1);
  box-shadow: 0 0rem 1rem 0 rgba(44, 51, 73, 0.1);
  position: relative;
  background-position: bottom;
  background-size: auto; }
  #sidebar::after {
    background: #f7f7f7c9;
    position: absolute;
    top: 0rem;
    bottom: 0;
    left: 0;
    z-index: -1;
    height: auto;
    width: 100%;
    content: ""; }
  #sidebar.active {
    margin-left: -250px; }
  #sidebar a[data-toggle="collapse"] {
    position: relative; }
  #sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, 0.5); }
    #sidebar .logo span {
      display: block; }
  #sidebar h5,
  #sidebar .role {
    text-align: center; }
  #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 15px;
    margin: 5px 0; }
    #sidebar ul li > ul {
      margin-left: 10px;
      -webkit-box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
      border-radius: .35rem !important;
      background: #fff; }
      #sidebar ul li > ul li {
        font-size: 14px;
        margin: 0px 10px;
        padding: 3px 0; }
    #sidebar ul li a {
      padding: .2rem 1rem;
      display: block;
      color: black;
      white-space: nowrap; }
      #sidebar ul li a::after {
        position: absolute;
        right: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%; }
      #sidebar ul li a:hover {
        color: #f8b739; }
    #sidebar ul li.active > a {
      color: #ffffff;
      font-weight: bold;
      background: #ef8220;
      border-radius: 50px; }
  @media (max-width: 991.98px) {
    #sidebar {
      margin-left: -250px; }
      #sidebar.active {
        margin-left: 0; } }

.custom-menu {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 1; }
  .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
    .custom-menu .btn.btn-primary {
      background: #091426;
      border-color: #091426; }

#content {
  min-height: 100vh;
  position: relative;
  width: calc(100% - 250px); }

@media (max-width: 991.98px) {
  #content {
    width: 100% !important; } }

.page-link {
  color: var(--gray-dark); }

.page-item.active .page-link {
  background-color: var(--gray-dark);
  border-color: var(--gray-dark); }

.dashboard .item {
  padding: 15px 0; }
  .dashboard .item .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%; }
  .dashboard .item .title {
    font-size: 1.1em;
    font-weight: 300;
    color: #777;
    margin: 0 20px; }
  .dashboard .item .number {
    font-size: 1.8em;
    font-weight: 300; }
    .dashboard .item .number .btn-sm {
      padding: .1rem .6rem;
      line-height: 1; }

.bg-yatra {
  background: #ef8220 !important;
  color: #fff; }

.bg-red {
  background: #dc3545 !important;
  color: #fff; }

.bg-green {
  background: #28a745 !important;
  color: #fff; }

.bg-dark {
  background: #091426 !important;
  color: #fff; }

.bg-orange {
  background: #ffc36d !important;
  color: #fff; }

.border-left-primary {
  border-left: .25rem solid #dc3545 !important; }

.border-left-success {
  border-left: .25rem solid #8BC34A !important; }

.border-left-info {
  border-left: .25rem solid #36b9cc !important; }

.border-left-warning {
  border-left: .25rem solid #f6c23e !important; }

.border-left-red {
  border-left: .25rem solid #343a40 !important; }

.border-left-green {
  border-left: .25rem solid #28a745 !important; }

.ids .col-auto i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  min-width: 40px;
  max-width: 40px;
  border-radius: 50%;
  font-size: 20px;
  background: #eceff1; }

.advisor-card {
  background: url("../images/advisor.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 55mm;
  height: 90mm;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px 15px 0; }
  .advisor-card .logo {
    width: 115px; }
  .advisor-card .user {
    width: 85px; }
  .advisor-card h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #2c4163; }
  .advisor-card h2 {
    font-size: 20px;
    font-weight: bold;
    color: #2c4163; }
  .advisor-card h4 {
    font-size: 15px;
    color: #2c4163; }
  .advisor-card .barcode {
    width: 90px; }
  .advisor-card .contact {
    margin: 0 auto;
    width: 70%; }
    .advisor-card .contact li {
      color: #fff;
      line-height: 18px;
      font-size: 11px;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .advisor-card .contact li img {
        width: 15px; }

@media (max-width: 768px) {
  .faq .nav .nav-item {
    padding: 4px 10px;
    margin: 0 6px; } }

.faq .accordion h5 .btn {
  white-space: normal; }

/*****=====*****=====*****=====*****=====
  Welcome Css Style
=====*****=====*****=====*****=====*****/
.welcome-section {
  margin-top: -70px;
  padding: 10px 0; }
  .welcome-section .icon-box {
    display: inline-block;
    padding: 15px;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.11);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.11); }
    .welcome-section .icon-box::before {
      content: "\f164";
      font-family: 'FontAwesome';
      position: absolute;
      -webkit-transition: 0.5s ease;
      -o-transition: 0.5s ease;
      transition: 0.5s ease;
      left: 0;
      right: 0;
      margin: auto;
      top: -1px;
      font-size: 2rem;
      opacity: 0;
      color: #ef8525; }
    .welcome-section .icon-box:hover :before {
      -webkit-animation: omg-yes 1s;
      animation: omg-yes 1s; }
    .welcome-section .icon-box:hover {
      background-color: #f9f9f9;
      background-image: -webkit-linear-gradient(275deg, #ef8220 0%, #dd2025 100%);
      background-image: -o-linear-gradient(275deg, #ef8220 0%, #dd2025 100%);
      background-image: linear-gradient(175deg, #ef8220 0%, #dd2025 100%);
      -webkit-box-shadow: 0vmin -1vmin 0 rgba(255, 255, 255, 0.07);
      box-shadow: 0vmin -1vmin 0 rgba(255, 255, 255, 0.07); }
      .welcome-section .icon-box:hover i,
      .welcome-section .icon-box:hover h5 {
        color: #fff !important;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    .welcome-section .icon-box h5 {
      color: #5d5d5d;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-bottom: 3px;
      text-transform: uppercase; }
    .welcome-section .icon-box a {
      color: #df2b18;
      font-size: 13px;
      font-weight: 600; }
      .welcome-section .icon-box a:hover {
        color: #000; }
    .welcome-section .icon-box i {
      color: #df2b18;
      font-size: 30px;
      margin-bottom: 8px; }
    .welcome-section .icon-box:nth-child(2) i,
    .welcome-section .icon-box:nth-child(2) a {
      color: #255669; }
    .welcome-section .icon-box:nth-child(3) i,
    .welcome-section .icon-box:nth-child(3) a {
      color: #091426; }
    .welcome-section .icon-box:nth-child(4) i,
    .welcome-section .icon-box:nth-child(4) a {
      color: #ef8220; }
    .welcome-section .icon-box:nth-child(5) i,
    .welcome-section .icon-box:nth-child(5) a {
      color: #fc3245; }

.aboutus {
  background: url("../images/bg/abt3.jpeg") no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .aboutus::after {
    position: absolute;
    background-color: #21252985;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .aboutus .left h3,
  .aboutus .left h2 {
    color: #fff;
    text-align: center;
    padding: 0 100px;
    font-family: initial; }
  .aboutus .right {
    background: #fff;
    border-radius: 1.25rem;
    padding: 7%;
    text-align: justify; }
    .aboutus .right img {
      width: 170px; }
    .aboutus .right p {
      margin: 20px 0;
      font-family: inherit; }
